/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Segoe UI", sans-serif; }
  body {
    margin: 2em;
    padding: 2em;
  }

.form {
  min-width: 10em;
  max-width: 16em;
  width: 100%;
  padding: 2em;
  border: #ccc solid;
  border-radius: 1em;
}

.input-max-width {
  width: 100%;
  margin-top: 1em;
  padding: 2;
}
